@font-face {
    font-family:'franklin_gothic_demi_condRg';
    src: url('../fonts/fradmcn-webfont.woff2') format('woff2'),
         url('../fonts/fradmcn-webfont.woff') format('woff');
    font-weight:normal;
    font-style:normal;
    font-display:swap
}