/*$baloo:var(--baloo);
$balooBhai:var(--balooBhai);*/
$baloo:"Baloo 2", sans-serif;
$balooBhai:"Baloo Bhai 2", sans-serif;
$baloo:var(--baloo);
$balooBhai:var(--balooBhai);
$light:300;
$regular:400;
$medium:500;
$semibold:600;
$bold:700;
$ExtraBold:800;
$white-color:#ffffff;
$black-color:#000000;
$site-color:#333333;
$red-color:#C41135;
$grey-color:#7a797c;
$grey2-color:#E9E9E9;
$light-grey-color:#F5F5F5;